@import "variables";
// Root
a {
    text-decoration: none;
}

// Header
.header {
    border-bottom: 1px solid #e8ebed;
}

.nav-img {
    width: 120px;
    height: 100px;
    margin-right: 20px;
    margin-bottom: -12px;
}

.nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: 16px;
    font-weight: var(--bs-nav-link-font-weight);
    color: #333;
    text-decoration: none;
    background: 0 0;
    border: 0;
    font-weight: 600;
    transition:
        color 0.15s ease-in-out,
        background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out;
}

.fa-bell {
    margin-right: 10px;
}

// carousel
.carousel-item img {
    width: 100%;
    padding: 0 12px;
    max-height: 400px;
    border-radius: 30px;
}

// Trang home
.heading {
    color: #242424;
    font-size: 24px;
    font-weight: 900;
    margin-right: auto;
    margin-top: 16px;
}

// Footer
.justified-text {
    text-indent: 1em;
    text-align: justify;
}

// Btn
.btn-plus {
    justify-content: center;
    display: flex;
    align-items: center;
    width: 90px;
    height: 50px;
    box-shadow:
        rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 16px;
    border: none;
    outline: none;
}

.icon-plus {
    font-size: 20px;
    margin-right: 8px;
}

// Table
.table>:not(caption)>*>* {
    padding: 16px 8px;
}
/* Ẩn bảng khi không có khóa học */
#course-table,
.action-courses {
    display: none;
}

/* Hiển thị ảnh khi không có khóa học */
#no-course-image {
    margin-bottom: 40px;
    display: block;
}

.form-select-action {
    width: 164px;
    display: flex;
    align-items: center;
    justify-content: center;
}
