<footer class="text-center text-lg-start bg-dark text-white mt-5">
    <div class="container text-center text-md-start pt-2">
        <div class="row mt-3">
            <div class="col-md-4 col-lg-4 col-xl-3">
                <h6 class="text-uppercase fw-bold mb-3">
                    <i class="fas fa-gem me-3"></i>COREGROUP
                </h6>
                <p class="justified-text">
                    CoreGroup là một công ty công nghệ hàng đầu, chuyên cung cấp
                    các giải pháp phần mềm và dịch vụ tư vấn công nghệ. Với đội
                    ngũ chuyên gia đa lĩnh vực, CoreGroup cam kết mang lại giải
                    pháp sáng tạo và hiệu quả cho khách hàng.
                </p>
            </div>
            <div class="col-6 col-md-2 col-lg-2 col-xl-2 mx-auto text-center">
                <h6 class="text-uppercase fw-bold mb-3">
                    Products
                </h6>
                <p>
                    <a href="#!" class="text-reset">Angular</a>
                </p>
                <p>
                    <a href="#!" class="text-reset">React</a>
                </p>
                <p>
                    <a href="#!" class="text-reset">Vue</a>
                </p>
                <p>
                    <a href="#!" class="text-reset">Laravel</a>
                </p>
            </div>
            <div class="col-6 col-md-3 col-lg-2 col-xl-2 mx-auto text-center">
                <h6 class="text-uppercase fw-bold mb-3">
                    Useful links
                </h6>
                <p>
                    <a href="#!" class="text-reset">Pricing</a>
                </p>
                <p>
                    <a href="#!" class="text-reset">Settings</a>
                </p>
                <p>
                    <a href="#!" class="text-reset">Orders</a>
                </p>
                <p>
                    <a href="#!" class="text-reset">Help</a>
                </p>
            </div>
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-md-0">
                <h6 class="text-uppercase fw-bold mb-3">Contact</h6>
                <p><i class="fas fa-home me-3"></i>
                    86 Mai Dịch, Cầu Giấy, Hà Nội</p>
                <p>
                    <i class="fas fa-envelope me-3"></i>
                    coregroup.com
                </p>
                <p>
                    <i class="fas fa-phone me-3"></i> 
                    + 84 965 469 714
                </p>
            </div>
        </div>
        <div class="row py-3">
            <div class="col-md-6 col-lg-6 mb-2">
                <i class="fas fa-gem me-3"></i>Nền tảng học lập trình hàng đầu
                Việt Nam
            </div>
            <div class="col-md-6 col-lg-6 mb-2">
                <a href="#" class="me-4 text-decoration-none text-reset">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#" class="me-4 text-decoration-none text-reset">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#" class="me-4 text-decoration-none text-reset">
                    <i class="fab fa-google"></i>
                </a>
                <a href="#" class="me-4 text-decoration-none text-reset">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="#" class="me-4 text-decoration-none text-reset">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="#" class="me-4 text-decoration-none text-reset">
                    <i class="fab fa-github"></i>
                </a>
            </div>
        </div>
    </div>
</footer>